*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(30, 54%, 90%);
}

p{
    font-size: 16px;
    color:  hsl(24, 5%, 18%);
}
 
img{
    width: 700px;
    height: 300px;
    border-radius: 10px;
    margin-top: 30px;
}


.container{ min-height: 80vh; background-color: white; width: 810px; border-radius: 10px;}

.food-details{
    display: flex;
    flex-direction: column;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading{
    color: hsl(14, 45%, 36%);
    font-family: 'Young Serif';
    font-weight: 400;
}

.recipe{margin: 0px 70px;}
.recipe * {padding: 5px}

.dash{
    width: 100%;
    background-color: gray;
}

.fd{
    display: flex;
    /* justify-content: space-around; */
}

.fd .food-details{justify-content: flex-start;}

.fd .food-calories{justify-content: center;}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }