*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(30, 54%, 90%);
}

p{
    font-size: 16px;
}
 
img{
    width: 700px;
    height: 300px;
    border-radius: 10px;
}

li{
    flex-wrap: wrap;
}

.container{ min-height: 80vh; background-color: white; width: 810px; border-radius: 10px;}

.food-details{
    display: flex;
    flex-direction: column;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }